<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   <property name="dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://127.0.0.1:3306/hibernatepactice
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      root
   </property>
   <!--  Show the sql quirees on console while those executing. -->
   <property name="show_sql">true</property>
   
   <!-- <property name="hbm2ddl.auto">update</property> -->
   <mapping resource="mapping/customers.hbm.xml"/>
   <mapping resource="mapping/datatypes/IntegerMapping.hbm.xml"/>
   <mapping resource="mapping/student.hbm.xml"/>
   <mapping resource="mapping/address.hbm.xml"/>
   <mapping resource="mapping/composite/compostieKey.hbm.xml"/>
   <mapping resource="mapping/composite/unique.hbm.xml"/>
  
   <!--  One To One -->
   <mapping resource="mapping.mappings/onetoone.hbm.xml"/>
   
   <!--  Many TO One  -->
   <mapping class="com.practice.hibernate.pojo.mapping.Many2One1" />
   <mapping class="com.practice.hibernate.pojo.mapping.ManyToOne2" />
   
   <!--  One To Many -->
   <mapping class="com.practice.hibernate.pojo.mapping.onetomany.Students"/>
   <mapping class="com.practice.hibernate.pojo.mapping.onetomany.StudentGames"/>
   <!--  Associations -->
   	   <!--  One TO Many Exmaple  -->
   	   <mapping class="com.practice.hibernate.pojo.associations.Customer" />
   	   <mapping class="com.practice.hibernate.pojo.associations.Vendor" />
   	   <!--  One to One Example  -->
   	  <mapping class="com.practice.hibernate.pojo.associations.Employee"/>
   	  <mapping class="com.practice.hibernate.pojo.associations.EmployeeProject"/>
   	   
</session-factory>
</hibernate-configuration>